@charset "UTF-8";

/*
400
500
600
700
800

*/ 

// styles

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	display: block;
	background: transparent;
	cursor: pointer;
	font-family: 'Gilroy', sans-serif;
}

input {
	&:focus {
		outline: none;
	}
}

body, html {
	// overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: 'Forum', serif;
	font-family: 'Manrope', sans-serif;	
    background-color: #e2d3ce;
}
button,a{
	cursor: pointer;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.rated-container{
	max-width: 1275px;
	padding: 0 15px;
	margin-left: auto;
}
@media (min-width: 576px) {
    .container{
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container{
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}
.main-screen-bg{
	position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg_top_inner.png) center / cover no-repeat;
    object-fit: cover;
    object-position: center;
}

//====button components
.btn{
	cursor: pointer;
}
.btn-black{
	background-color: #0c0b10;
    color: #fff;
	text-transform: uppercase;
    transition: background-color .3s, color .3s;
	&:hover{
		transition: background-color .3s, color .3s;
    	background-color: #fff;
		span{
			color: #0c0b10;
			transition: background-color .3s, color .3s;
		}
	}
}

.btn-crown {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    padding: 0 25px;
    border-radius: 67px;
    max-width: 540px;
    transition: background-color .3s ease-out;
    pointer-events: all;
}
.btn-crown-contact {
    margin-top: 53px;
    margin-bottom: 22px;
    background-color: #000;
}
.btn-crown__wrapper {
    position: relative;
    height: 100%;
    padding: 15px 50px;
    border-radius: 98px;
}
.btn-crown-contact .btn-crown__decor::before {
    border-color: #000;
}
.btn-crown__decor{
    &:before{
        content: "";
        position: absolute;
        right: 0;
        top: -10px;
        width: 35%;
        height: 50%;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-top-right-radius: 60px;
        border-bottom: unset;
        border-left: unset;
        transition: border-color .3s ease-out;
    }
    &:after{
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        width: 35%;
        height: 50%;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-top-left-radius: 60px;
        border-right: unset;
        border-bottom: unset;
        transition: border-color .3s ease-out;
    }
}   

.btn-crown__decor span:first-child {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 20px;
    background: url(../images/btn-decor-top.svg) center / cover no-repeat;
}
.btn-crown__decor span:last-child {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    display: block;
    width: 36px;
    height: 15px;
    background: url(../images/btn-decor-bottom.svg) center / cover no-repeat;
}
.btn-crown__decor--white span:first-child{
    background: url(../images/decor-btn-wht-top.svg) center / cover no-repeat;
}
.btn-crown__decor--white span:last-child{
    background: url(../images/decor-btn-wht-bottom.svg) center / cover no-repeat;
}
.btn-crown__descr{
	font-family: 'Forum';
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.btn-crown-contact .btn-crown__descr {
    color: #fff;
}

.btn-crown-contact .btn-crown__decor::after {
    border-color: #000;
}




.transparent-btn{
	color: #0C0B10;
	border: 0.624428px solid #0C0B10;
	border-radius: 61.3171px;
	font-family: 'Forum';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s all;
	&:hover{
		transition: 0.3s all;
		color: #FFF;
		border-radius: 74px;
		background: #0C0B10;
	}
}
// ////button-components
// 
// .scale-img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     transition: transform .4s;
// }

// .scale-img:hover {
//     transition: transform .4s;
//     transform: scale(1.1);
// }
.scale-img img{
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s;
}

.scale-img:hover img{
    transition: transform .4s;
    transform: scale(1.1);
}


.title-decor{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 86px;
        height: 162px;
        transform: translate(-50%, -50%);
        background: url(../images/rated-img/title-bg-decor.svg) center no-repeat;
        background-size: contain;
        pointer-events: none;
        z-index: -1;
        width: 112px;
        height: 211px;
    }
}
.menu-link{
	color: #000;
	font-family: Forum;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	transition: 0.4s;
}
.section-title{
	font-family: Forum;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 58px;
}
.section-text{
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 179.8%; 
}
.column-title{
	color: var(--ffffff, #FFF);
	text-align: center;
	font-family: Forum;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 98.5%; 
}
.custom-slider-btn{
	position: absolute;
    right: 100px;
    top: 44%;
    cursor: pointer;
    background-color: #79655e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    z-index: 1000;
    transform: rotate(45deg);
	&::before {
		content: '';
		position: absolute;
		width: 28px;
		height: 14px;
		background-image: url('../images/arrow-svg.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(-45deg); 
	}
}
.btn{
	text-align: center;
	font-family: Forum;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.96px;
	text-transform: uppercase;
}
.fw-500 {
	font-weight: 600;
  }

.fw-600 {
  font-weight: 600;
}


.fw-700 {
	font-weight: 700;
  }
  

.fw-800 {
  font-weight: 800;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin-left: auto!important;
    margin-right: auto!important;
}
