@charset "UTF-8";

/*
400
500
600
700
800

*/ 

// styles

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	display: block;
	background: transparent;
	cursor: pointer;
	font-family: 'Gilroy', sans-serif;
}

input {
	&:focus {
		outline: none;
	}
}

body, html {
	// overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: 'Forum', serif;
	font-family: 'Manrope', sans-serif;	
    background-color: #e2d3ce;
}
button,a{
	cursor: pointer;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.rated-container{
	max-width: 1275px;
	padding: 0 15px;
	margin-left: auto;
}
@media (min-width: 576px) {
    .container{
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container{
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}
//====button components
.btn{
	cursor: pointer;
}
.btn-black{
	background-color: #0c0b10;
    color: #fff;
	text-transform: uppercase;
    transition: background-color .3s, color .3s;
	&:hover{
		transition: background-color .3s, color .3s;
    	background-color: #fff;
		span{
			color: #0c0b10;
			transition: background-color .3s, color .3s;
		}
	}
}

.custom-btn{
	position: relative;
}

.custom-btn:before,
.custom-btn:after {
    content: "";
    position: absolute;
	z-index: -4;
    top: -9px;
    bottom: 0;
    width: calc(50% - 80px);
    border: 1px solid #0c0b10;
    pointer-events: none;
    transition: border-color .3s;
}

.custom-btn:before {
    left: 30px;
    border-right: none;
    border-radius: 50px 0 0 50px;
}

.custom-btn:after {
    right: 30px;
    border-left: none;
    border-radius: 0 50px 50px 0;
}

.custom-btn svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 20px;
    pointer-events: none;
}

.custom-btn svg:first-child {
    bottom: calc(100% - -6px);
}

.custom-btn svg:last-child {
    top: calc(100% - -3px);
}


.transparent-btn{
	color: #0C0B10;
	border: 0.624428px solid #0C0B10;
	border-radius: 61.3171px;
	font-family: 'Forum';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s all;
	&:hover{
		transition: 0.3s all;
		color: #FFF;
		border-radius: 74px;
		background: #0C0B10;
	}
}
// 
// .scale-img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     transition: transform .4s;
// }

// .scale-img:hover {
//     transition: transform .4s;
//     transform: scale(1.1);
// }
.scale-img img{
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s;
}

.scale-img:hover img{
    transition: transform .4s;
    transform: scale(1.1);
}


.title-decor{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 86px;
        height: 162px;
        transform: translate(-50%, -50%);
        background: url(./images/rated-img/title-bg-decor.svg) center no-repeat;
        background-size: contain;
        pointer-events: none;
        z-index: -1;
        width: 112px;
        height: 211px;
    }
}
.menu-link{
	color: #000;
	font-family: Forum;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	transition: 0.4s;
}
.section-title{
	font-family: Forum;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 58px;
}
.section-text{
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 179.8%; 
}
.column-title{
	color: var(--ffffff, #FFF);
	text-align: center;
	font-family: Forum;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 98.5%; 
}
.custom-slider-btn{
	position: absolute;
    right: -5%;
    top: 44%;
    cursor: pointer;
    background-color: #79655e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    z-index: 1000;
    transform: rotate(45deg);
	&::before {
		content: '';
		position: absolute;
		width: 28px;
		height: 14px;
		background-image: url('../images/arrow-svg.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(-45deg); 
	}
}
.btn{
	text-align: center;
	font-family: Forum;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.96px;
	text-transform: uppercase;
}
.fw-500 {
	font-weight: 600;
  }

.fw-600 {
  font-weight: 600;
}


.fw-700 {
	font-weight: 700;
  }
  

.fw-800 {
  font-weight: 800;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin-left: auto!important;
    margin-right: auto!important;
}
