
.travels{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    cursor: pointer;
}
.rated-title{
    text-align: center;
}


.rated-swiper__wrapper {
    display: flex;
}

.travels-tab {
    animation: fadeEffect 1s; 
  }
    @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.travels-tabs {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 35px;
    li:not(:last-child){
        margin-right: 37px;
    }
    a {
        cursor: pointer;
        color: var(--79655-e, #79655E);
        font-family: Forum;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 98.5%; 
        transition: 0.4s;
        &.active {
            color: var(--Style, #0C0B10);          
        }
    }    
    .travels-tab {
        padding-top: 160px;
        transition: opacity 0.5s ease-in-out;
    }
}
  .tab-link {
    position: relative;
  }
  .tab-link.active::before {
    content: url('../images/rated-img/decor-icn.svg');
    position: absolute;
    bottom: -17px; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
.travels-swiper{
    position: relative;
}
.travels-column{
    max-width: 350px;
    width: 100%;
}
.travels-column__img {
    position: relative;
    img{
        border-radius: 15px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0B2034 100%);
    }
}
.travels-column__img {
    display: block;
    height: 100%;
    width: 100%;
}

.direction>a {
    display:block; 
    height:100%; 
    width:100%; 
}
.direction img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    object-fit: cover;
    transition: transform .5s;
}