.reviews {
    margin-top: 70px;
    margin-bottom: 70px;
}

.reviews-container {
    max-width: 1220px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.reviews-heading {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 70px;

}
.reviews-wrapper{
    position: relative;
}
.reviews-swiper {
    width: 100%;
    overflow: visible; 
}

.reviews-row {
    display: flex;
    padding: 0 15px;
}

.swiper-slide {
    flex-shrink: 0;
}

.reviews-slide {
    max-width: 636px;
    height: auto;
    margin-bottom: 9px;
    padding: 8px 0 0;
    &:before{
        content: "";
        position: absolute;
        right: 10px;
        bottom: -9px;
        left: 10px;
        height: 9px;
        border: 1px solid #fff;
        border-top: none;
        pointer-events: none;
        border-radius: 0 0 10px 10px;
    }
}
.reviews-item:after,.reviews-item:before {
    width:calc(50% - 70px); 
}

.reviews-item {
    padding: 61px 66px 75px 89px
}

.reviews-item__border:after,.reviews-item__border:before {
    bottom: auto;
    height: 16px;
}

.reviews-item__border:before {
    left: 13px;
}

.reviews-item__border:after {
    right: 13px
}

.reviews-item__border svg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 48px;
    height: 20px;
    transform: translateX(-50%);
    pointer-events: none;
}




.reviews-item {
    padding: 65px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(226, 211, 206, 0.20);
    backdrop-filter: blur(10px);
    max-width: 636px;
    width: 100%;
}
.reviews-item__person {
    margin-bottom: 57px;
}
.reviews-item__text {
    max-width: 481px;
    font-family: Manrope;
    font-weight: 300;
    font-size: 21px;
    line-height: 37px;
    color: #1d1a1a;
    margin-bottom: 80px;
}
.reviews-item__names {
   color: #1D1A1A;
    font-family: Manrope;
    font-size: 19.545px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%; 
    span{
        margin-top: 6px;
        display: block;
        font-size: 16.753px;
    }
}
.reviews-slider-btn{
    position: absolute;
    right: 100px;
    bottom: 240px;
}
.custom-pagination{
    margin-top: 47px;
    display: flex;
    justify-content: center;
    // height: 1px;
}

.custom-pagination span{
    width: 100px;
    height: 3px;
    border: 1px solid #FFF;
    background: #FFF;
}

.custom-pagination span:not(:last-child) {
    margin-right: 16px;
}
.swiper-pagination-bullet{
    width: 100px;
    height: 3px;
    margin: 0 16px;  // Регулируйте отступы между элементами
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #79655e;  // Цвет для активного элемента
}
